@layout('application')
@section('body')
  <div class="subtitle">
    <p>Hello This is About Page</p>
    <div>
      <a href="/">Back to Home</a>
    </div>
    <br>
    <div>
      <a href="/" data-turbolinks="false">Back to Home without Turbolinks</a>
    </div>
  </div>
@endsection
