
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('app') }}
  <script src="{{ assetsUrl('app') }}.js" defer></script>
</head>
<body>
  <section>
    @section('body')
    @endsection
  </section>
</body>
</html>
